<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <ion-title color="danger">
              <p>Denis App!</p>
            </ion-title>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-button (click)="Escanear()" color="tertiary" shape="round">
              <ion-icon name="Bluetooth"></ion-icon>
              Escanear
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div *ngFor = "let dis of dispositivos" [routerLink]="['/botones']">
    {{dis.id}}
    {{dis.address}}
    {{dis.name}}
    <ion-button (click)="Conectar (dis.address)">
      Conectar
    </ion-button>
  </div>
</ion-content>
